/**
 Additional styles for the Training Day Slides.
**/

$ss_blue: #527c97;
$highlight_color: #ff5500; // Bright orange.

.sego-logo {
   position: absolute;
   bottom: 1em;
   left: 2em;
}

.reveal section img.no-style-image {
  background: none;
  border: none;
  box-shadow: none;
}

.spin-code {
  float: right;

  blockquote {
    color: white;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1.7em;
    background: $ss_blue;
    padding: 10px;
  }
}

.stack-starter {
  float: left;

  blockquote {
    color: white;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1.7em;
  }
}

.reveal a.logo {
  margin-left: 25px;
}

.reveal section img.clean {
  background: transparent;
  border: none;
  box-shadow: none;

  &.horizontal {
    padding: 0 1em;
  }
}

.reveal .highlight {
  color: $highlight_color;
}
